@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: url("images/rainbow.jpeg");
    background-size: 100%;
}
.img img{
    width: 350px;
    display: block;
    margin-left: 150px;
    margin-top: 80px;

}

.details-intro{
    text-align: left; 
    padding-top: 30px;
    font-size: 30px;
    font-style: oblique;
    margin-left: 90px;
    color: navy;
}
.name{
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 30px;
    
}

.me{
    font-size: 20px;
    font-variant: normal;
    text-align: left;
    padding-left: 90px;
    color:#281438;
    
}
.me h1{
    font-size: 60px;
}
.address{
    margin-bottom: 20px;
}
.phoneno{
    margin-bottom: 20px;

}

.profile{
    display:grid;
    grid-template-columns: 40% 60% ;
    text-align: left
    
}

.skills{

    /* border:2px solid black; */
    width: 100%;
    height: 600px;
    margin-top: 200px;
    margin-left: 80px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    background: rgb(248, 232, 231);
    border-radius: 10%;


}

.box1{
    width: 160px;
    height: 180px;
    text-align: center;
    line-height: center;
  

}
.box1-img img{
    margin-top: 20px;
    width: 100px;
    height: 100px;

}
.box1-text{
    text-align: center;
    color: navy;
    text-transform: uppercase;
    font-size: 20px;
    border-top: 1px solid black;
}
.eff{
    width: 100%;
    font-size: 50px;
    font-weight: 50%;
    text-align: center;
}
.imp{
    margin-top: 200px;
    margin-left: 200px;
    width: 500px;
    height: 600px;
    justify-content: center;
    align-items: center;
}
nav
{
    width: 400px;
    margin-top: 40px;
    margin-left: 45px;

    
}
nav ul li{
    list-style: none;
    background-color: rgb(213, 233, 166) ;
    width: 100%;

}
nav ul li a{
    position: relative;
    display: block;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 20px;
    box-sizing: border-box;
    z-index: 1;
}
nav ul li:nth-child(1) a{
    border-left: 10px solid #e2487b;
}
nav ul li:nth-child(2) a{
    border-left: 10px solid #ffd071;
}
nav ul li:nth-child(3) a{
    border-left: 10px solid #f0776c;
}
nav ul li:nth-child(4) a{
    border-left: 10px solid rgb(93, 198, 224);
}
nav ul li:nth-child(5) a{
    border-left: 10px solid rgb(176, 116, 216);
}
nav ul li a::after
{
    content:"";
    position:absolute;
    background-color: rgb(116, 90, 90);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: all 0.3s;
    z-index: -1;
}
nav ul li a:hover::after{
    width: 100%;
}
nav ul li:nth-child(1) a::after{
    background-color: #e2487b;
}
nav ul li:nth-child(2) a::after{
    background-color:#ffd071;
}
nav ul li:nth-child(3) a::after{
    background-color: #f0776c;
}
nav ul li:nth-child(4) a::after{
    background-color: rgb(93, 198, 224);
}
nav ul li:nth-child(5) a::after{
    background-color:rgb(176, 116, 216);
}
.impname{
    width: 100%;
    font-size: 50px;
    font-weight: 50%;
    text-align: center;
        
}
.gocheck{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
}
.btnsresume{
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 170px;
    
}
.goback{
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 170px;
    margin-top: 40px;
    
}
.btngoproj{
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 0.55rem 0;
    width: 130px;
    font-weight: 600;
    background: transparent;
    margin: 0 0.5rem;
    cursor: pointer;
    background: transparent;
    border-color: #dd2d4a;
    color: #000;
    transition: all 0.5s ease-in-out;

}
.btngoproj:hover{
    background: #dd2d4a;
    color: #fff;
    border-color: #2d3fdd;
    transition: all 0.5s ease-in-out;

}
.btngoback{
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 0.55rem 0;
    width: 130px;
    font-weight: 600;
    background: transparent;
    margin: 0 0.5rem;
    cursor: pointer;
    background: #dd2d4a;
    color: #fff;
    border-color: #2d3fdd;
    transition: all 0.5s ease-in-out;
}

.btngoback:hover{
    background: transparent;
    border-color: #dd2d4a;
    color: #000;

}

.iconshandles{
    position: fixed;
    top:70%;
    right:0%;
    width: 270px;
    height: 170px;
    display: flex;
    flex-direction: column;
}
.iconshandles a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    margin: 2px;
    margin-right: 0%;
    font-size: 20px;
    border-radius: 50px 0px 0px 50px;
    transform: translate(200px, 0px);
    transition: all 0.5s;
    text-align: left;
}
.iconshandles a:hover{
    transform: translate(0px ,0px);

}
.iconshandles a i{
    margin-right: 20px;
    height: 40px;
    width: 40px;
    background-color: white;
    color: black;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s;
}
.iconshandles a:hover i{
    transform: rotate(360deg);
    }
.iconshandles a i.fa-facebook-f{
    color: #2C80D3;
}
.iconshandles a i.fa-youtube{
    color: #fa0910;
}
.iconshandles a i.fa-twitter{
    color: #53c5ff;
}
.facebook1{
    background-color: #2C80D3;
    color: white;
}
.youtube1{
    background-color: #fa0910;
    color: white;
    
}
.twitter1{
    background-color: #53c5ff;
    color: white;
}